body {
  margin: 0px;
  background-color: #fafafa;
}

#canvas {
  display: none;
}



.videoContainer {
  width: 500px;
  height: 375px;
  position: absolute;
  left: calc(50% - 500px / 2);
  top: 75px;
}

#snap {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  height: 30px;
  background-color: #2ba7c4;
  border: none;
  color: white;
  font-family: OpenSans-Regular;
  position: absolute;
  bottom: 10px;
}

#video
{
  width: 500px;
  height: 375px;
  position: absolute;
  top: 0;
  left: 0;
}


#filter {
  width: 164px;
  height: 164px;
  position: absolute;
  top: calc(94.5px - 82px );
  left: calc(250px - 82px);
  z-index: 10;
}

#filter img {
  /* width: 100%; */
  /* height: 100%; */
}

#takePictureModal {
  position: absolute;
  left: calc(50% - 400px);
  top: calc(50% - 300px);
  height: 600px;
  width: 800px;
  box-shadow: 0 2px 4px 0 rgba(0,0,0,.3);
  padding: 45px 25px 45px 25px;
  background-color: #fff;
  display: flex;           /* establish flex container */
  flex-direction: column;  /* make main axis vertical */
  justify-content: center; /* center items vertically, in this case */
  align-items: center;
  display: none;
}

.finalPicture {
  width: 100px;
  height: 75px;
  display: block;
}

#carousel {
  position: absolute;
  bottom: 150px;
  width: calc(100px * 4 + 4 * 5px);
  max-height: 75px;
  overflow: hidden;
}

#carousel img {
  display: inline-block;
  margin-left: 5px;
}

#prevCarousel {
  width: 32px;
  height: 32px;
  position: absolute;
  bottom: 170px;
  left: calc(420px / 2 - 32px );
  cursor: pointer;
}

#nextCarousel {
  width: 32px;
  height: 32px;
  position: absolute;
  bottom: 170px;
  right: calc(420px / 2 - 32px );
  cursor: pointer;
}

#imageShowed {
  width: 500px;
  height: 375px;
  position: absolute;
  left: calc(50% - 500px / 2);
  top: 75px;
  z-index: 99;
  display: none;
}

#close {
  z-index: 120;
  height: 20px;
  width: 20px;
  top: 8%;
  position: absolute;
  right: 18%;
  display: none;
}

.container {
  display: flex;
  height: 100vh;
  width: 80vw;
  margin-left: auto;
  margin-right: auto;
  margin-top: 70px;
}

.profilDiv {
  flex: 1;
}


.picturesDiv {
  flex: 3;
}

.mostLikedPicDiv {
  flex: 1;
}

.userPost {
  margin-left: auto;
  margin-right: auto;
  display: block;
  max-width: 500px;
  border: 1px solid #e6e6e6;
  margin-top: 15px;
  background-color: white;
}

.userPost img {
  max-height: 100%;
  max-width: 100%;
}

.interact {
  height: 30px;
  background-color: #fff;
  margin-top: -4px;
  display: flex;
}

.likeBtn {
  width: 24px;
  margin-left: 5px;
  margin-top: 2.5px;
  cursor: pointer;
}

.containLikeBtn {
  flex: 1;
}

.containComment {
  flex: 3;
}

.containComment p {
  margin: 0;
  margin-top: 8px;
  text-align: right;
  margin-right: 48px;
}

#closeModal {
  width: 20px;
  z-index: 9;
  top: -20px;
  position: absolute;
  right: -20px;
}

#profilPicture {
  height: 128px;
  width: 128px;
  margin-left: auto;
  margin-right: auto;
  display: block;
}

#buttonCamera {
  width: 24px;
}

#parameters {
  width: 24px;
}

.profilDiv p {
  text-align: center;
}

.profilDiv button {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  height: 48px;
  background-color: #2ba7c4;
  border: none;
  margin-top: 8px;
  color: white;
  font-family: OpenSans-Regular;
  cursor: pointer;
}

#disconnectButton {
  display: none;
  height: 24px;
  width: 24px;
  margin: auto;
  margin-top: calc(65px/ 2 - 12px);
  cursor: pointer;
}

#disconnectButton:hover{
  display: none;
  height: 24px;
  width: 24px;
  margin: auto;
  margin-top: calc(65px/ 2 - 12px);
  cursor: pointer;
  transform: rotate(20deg);
}

#subscribeButton {
  margin: auto;
}

.header {
  width: 100%;
  height: 65px;
  background-color: #fff;
  border-bottom: 1px solid rgba(0,0,0,.0975);
  display: flex;
}

.titleHeader {
  flex:1;
  font-family: 'Abel', sans-serif;
  text-align: center;
  line-height: 65px;
  font-size: 28px;
  font-weight: 1200;
}

.loginHeader {
  flex:1;
  text-align: center;
  font-family: 'Abel', sans-serif;
  line-height: 65px;

}

.commentText {
  resize: none;
    width: 80%;
    margin: auto;
    border: 0;
    display: inline-block;
    padding: 0;
    border-bottom: 1px solid #282828;
    height: 15px;
}

.iconSend {
  width: 15px;
  height: 15px;
  line-height: 30px;
  margin-bottom: 7.5px;
  cursor: pointer;
}

.commentContain {
  resize: none;
  width: 80%;
  margin: auto;
  display: block;
  border: 0;
}

.nbrLikes {
  display: inline-block;
}

.commentsList {
  font-family: 'Open Sans', sans-serif;
  margin-left: 25px;
  margin-right: 25px;
  font-size: 13px;
  line-height: 15px;
}

.username {
  font-weight: 700;
}

.showMoreComments {
  text-align: center;
  border-top: 1px solid #eaeaea;
  padding-top: 15px;
  padding-bottom: 15px;
  font-family: 'Open Sans', sans-serif;
  font-size: 13px;
  margin-top: 0px;
  margin-bottom: 0px;
  cursor: pointer;
}

.showMoreComments:hover {
  text-align: center;
  border-top: 1px solid #eaeaea;
  padding-top: 15px;
  padding-bottom: 15px;
  font-family: 'Open Sans', sans-serif;
  font-size: 13px;
  background-color: #2ba7c4;
  color: white;
  margin-top: 0px;
  margin-bottom: 0px;
  cursor: pointer;
}

#username {
  font-family: 'Open Sans', sans-serif;
}

#getval {
  bottom: 215px;
  right: 90px;
  position: absolute;
}

.picture_filters {
  right: 80px;
  top: 76px;
  position: absolute;
}

.picture_filters img{
  max-height: 60px;
  max-width: 60px;
  display: block;
  padding: 10px;
  cursor: pointer;
  margin-left: auto;
  margin-right: auto;
}

.filter_selected {
  border: 0.3px solid #efefef;
}

#editAccountModal {
  position: absolute;
  left: calc(50% - 200px);
  top: calc(50% - 400px);
  height: 400px;
  width: 500px;
  box-shadow: 0 2px 4px 0 rgba(0,0,0,.3);
  padding: 45px 25px 45px 25px;
  background-color: #fff;
  display: flex;           /* establish flex container */
  flex-direction: column;  /* make main axis vertical */
  justify-content: center; /* center items vertically, in this case */
  align-items: center;
  display: none;

}

#editAccountModal h2 {
  font-family: Roboto-Regular;
  text-align: center;
}
